parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Console\\Commands\\CheckVisitors\:\:handle\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Console/Commands/CheckVisitors.php

		-
			message: '#^Call to an undefined method App\\Http\\Controllers\\VisitorController\:\:getLocationFromIP\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Console/Commands/TestEmail.php

		-
			message: '#^Cannot access offset ''city'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Console/Commands/TestEmail.php

		-
			message: '#^Cannot access offset ''country'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Console/Commands/TestEmail.php

		-
			message: '#^Cannot access offset ''ip'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Console/Commands/TestEmail.php

		-
			message: '#^Cannot access offset ''region'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Console/Commands/TestEmail.php

		-
			message: '#^Cannot access offset ''timezone'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Console/Commands/TestEmail.php

		-
			message: '#^Method App\\Console\\Commands\\TestEmail\:\:handle\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Console/Commands/TestEmail.php

		-
			message: '#^Method App\\Contracts\\AnalyticsInterface\:\:getRealTimeVisitors\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Contracts/AnalyticsInterface.php

		-
			message: '#^Method App\\Contracts\\ContactServiceInterface\:\:store\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Contracts/ContactServiceInterface.php

		-
			message: '#^Method App\\Contracts\\VisitorServiceInterface\:\:track\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Contracts/VisitorServiceInterface.php

		-
			message: '#^Cannot access property \$email on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Controllers/Auth/ConfirmablePasswordController.php

		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/EmailVerificationNotificationController.php

		-
			message: '#^Cannot call method sendEmailVerificationNotification\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/EmailVerificationNotificationController.php

		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/EmailVerificationPromptController.php

		-
			message: '#^Parameter \#1 \$key of function __ expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: app/Http/Controllers/Auth/NewPasswordController.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Facades\\Hash\:\:make\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/NewPasswordController.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Facades\\Hash\:\:make\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Method App\\Http\\Controllers\\JokeController\:\:random\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/JokeController.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/JokeController.php

		-
			message: '#^Cannot access offset ''password'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Http/Controllers/Settings/PasswordController.php

		-
			message: '#^Cannot call method update\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/PasswordController.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Facades\\Hash\:\:make\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Settings/PasswordController.php

		-
			message: '#^Cannot access property \$email_verified_at on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Controllers/Settings/ProfileController.php

		-
			message: '#^Cannot call method delete\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/ProfileController.php

		-
			message: '#^Cannot call method fill\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/ProfileController.php

		-
			message: '#^Cannot call method isDirty\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/ProfileController.php

		-
			message: '#^Cannot call method save\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/ProfileController.php

		-
			message: '#^Parameter \#1 \$string of function str expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Middleware/HandleInertiaRequests.php

		-
			message: '#^Parameter \#1 \$string of function trim expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: app/Http/Middleware/HandleInertiaRequests.php

		-
			message: '#^Cannot access property \$id on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Requests/Settings/ProfileUpdateRequest.php

		-
			message: '#^Method App\\Modules\\Contact\\Controllers\\ContactController\:\:store\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Modules/Contact/Controllers/ContactController.php

		-
			message: '#^Method App\\Modules\\Contact\\Mail\\ContactMessage\:\:__construct\(\) has parameter \$email with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Modules/Contact/Mail/ContactMessage.php

		-
			message: '#^Method App\\Modules\\Contact\\Mail\\ContactMessage\:\:__construct\(\) has parameter \$first_name with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Modules/Contact/Mail/ContactMessage.php

		-
			message: '#^Method App\\Modules\\Contact\\Mail\\ContactMessage\:\:__construct\(\) has parameter \$last_name with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Modules/Contact/Mail/ContactMessage.php

		-
			message: '#^Method App\\Modules\\Contact\\Mail\\ContactMessage\:\:__construct\(\) has parameter \$message with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Modules/Contact/Mail/ContactMessage.php

		-
			message: '#^Method App\\Modules\\Contact\\Mail\\ContactMessage\:\:attachments\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Modules/Contact/Mail/ContactMessage.php

		-
			message: '#^Property App\\Modules\\Contact\\Mail\\ContactMessage\:\:\$email has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Modules/Contact/Mail/ContactMessage.php

		-
			message: '#^Property App\\Modules\\Contact\\Mail\\ContactMessage\:\:\$first_name has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Modules/Contact/Mail/ContactMessage.php

		-
			message: '#^Property App\\Modules\\Contact\\Mail\\ContactMessage\:\:\$last_name has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Modules/Contact/Mail/ContactMessage.php

		-
			message: '#^Property App\\Modules\\Contact\\Mail\\ContactMessage\:\:\$message has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Modules/Contact/Mail/ContactMessage.php

		-
			message: '#^Cannot access offset ''email'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Modules/Contact/Services/ContactService.php

		-
			message: '#^Cannot access offset ''first_name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Modules/Contact/Services/ContactService.php

		-
			message: '#^Cannot access offset ''last_name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Modules/Contact/Services/ContactService.php

		-
			message: '#^Cannot access offset ''message'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Modules/Contact/Services/ContactService.php

		-
			message: '#^Method App\\Modules\\Contact\\Services\\ContactService\:\:store\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Modules/Contact/Services/ContactService.php

		-
			message: '#^Parameter \#1 \$attributes of static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Contact\>\:\:create\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Modules/Contact/Services/ContactService.php

		-
			message: '#^Method App\\Modules\\Visitor\\Controllers\\VisitorController\:\:track\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Modules/Visitor/Controllers/VisitorController.php

		-
			message: '#^Method App\\Modules\\Visitor\\Mail\\NewVisitorNotification\:\:__construct\(\) has parameter \$visitorData with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Modules/Visitor/Mail/NewVisitorNotification.php

		-
			message: '#^Method App\\Modules\\Visitor\\Mail\\NewVisitorNotification\:\:attachments\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Modules/Visitor/Mail/NewVisitorNotification.php

		-
			message: '#^Part \$city \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: app/Modules/Visitor/Mail/NewVisitorNotification.php

		-
			message: '#^Part \$country \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: app/Modules/Visitor/Mail/NewVisitorNotification.php

		-
			message: '#^Property App\\Modules\\Visitor\\Mail\\NewVisitorNotification\:\:\$visitorData type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Modules/Visitor/Mail/NewVisitorNotification.php

		-
			message: '#^Binary operation "\." between mixed and ''\|'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Modules/Visitor/Services/VisitorService.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Modules/Visitor/Services/VisitorService.php

		-
			message: '#^Cannot access offset ''city'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Modules/Visitor/Services/VisitorService.php

		-
			message: '#^Cannot access offset ''country'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Modules/Visitor/Services/VisitorService.php

		-
			message: '#^Cannot access offset ''region'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Modules/Visitor/Services/VisitorService.php

		-
			message: '#^Cannot access offset ''timezone'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Modules/Visitor/Services/VisitorService.php

		-
			message: '#^Method App\\Modules\\Visitor\\Services\\VisitorService\:\:getLocationFromIP\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Modules/Visitor/Services/VisitorService.php

		-
			message: '#^Method App\\Modules\\Visitor\\Services\\VisitorService\:\:getLocationFromIP\(\) should return array but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: app/Modules/Visitor/Services/VisitorService.php

		-
			message: '#^Method App\\Modules\\Visitor\\Services\\VisitorService\:\:sendVisitorEmail\(\) has parameter \$location with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Modules/Visitor/Services/VisitorService.php

		-
			message: '#^Method App\\Modules\\Visitor\\Services\\VisitorService\:\:track\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Modules/Visitor/Services/VisitorService.php

		-
			message: '#^Parameter \#1 \$ip of method App\\Modules\\Visitor\\Services\\VisitorService\:\:getLocationFromIP\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Modules/Visitor/Services/VisitorService.php

		-
			message: '#^Parameter \#3 \$ttl of static method Illuminate\\Support\\Facades\\Cache\:\:put\(\) expects DateInterval\|DateTimeInterface\|int\|null, bool\|int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Modules/Visitor/Services/VisitorService.php

		-
			message: '#^Method App\\Services\\GoogleAnalyticsService\:\:getRealTimeVisitors\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/GoogleAnalyticsService.php

		-
			message: '#^Method Tests\\Feature\\ContactPageTest\:\:contact_page_loads_and_displays_contact_heading\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Feature/ContactPageTest.php

		-
			message: '#^Parameter \#1 \$source of method DOMDocument\:\:loadHTML\(\) expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Feature/ContactPageTest.php

		-
			message: '#^Method Tests\\Feature\\ExampleTest\:\:it_loads_the_homepage\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Feature/ExampleTest.php

		-
			message: '#^Method Tests\\Feature\\RandomJokeTest\:\:test_random_joke_endpoint_returns_json\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Feature/RandomJokeTest.php

		-
			message: '#^Cannot call method bootstrap\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/TestCase.php

		-
			message: '#^Cannot call method make\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/TestCase.php

		-
			message: '#^Method Tests\\TestCase\:\:createApplication\(\) should return Illuminate\\Foundation\\Application but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: tests/TestCase.php

		-
			message: '#^Method Tests\\Unit\\ContactServiceTest\:\:test_store_creates_contact_and_sends_email\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Unit/ContactServiceTest.php

		-
			message: '#^Method Tests\\Unit\\ContactServiceValidationTest\:\:test_store_throws_validation_exception_on_invalid_input\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Unit/ContactServiceValidationTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/ExampleTest.php

		-
			message: '#^Method Tests\\Unit\\ExampleTest\:\:it_checks_that_true_is_true\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Unit/ExampleTest.php

		-
			message: '#^Call to function method_exists\(\) with ''\\\\App\\\\Services…'' and ''getRealTimeVisitors'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/Unit/GoogleAnalyticsServiceTest.php

		-
			message: '#^Method Tests\\Unit\\GoogleAnalyticsServiceTest\:\:it_has_get_real_time_visitors_method\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Unit/GoogleAnalyticsServiceTest.php

		-
			message: '#^Method Tests\\Unit\\VisitorServiceGuzzleTest\:\:test_external_api_parsed_correctly\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Unit/VisitorServiceGuzzleTest.php

		-
			message: '#^Parameter \#3 \$body of class GuzzleHttp\\Psr7\\Response constructor expects Psr\\Http\\Message\\StreamInterface\|resource\|string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/VisitorServiceGuzzleTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsArray\(\) with array will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/VisitorServiceTest.php

		-
			message: '#^Method Tests\\Unit\\VisitorServiceTest\:\:test_localhost_returns_local_development_location\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Unit/VisitorServiceTest.php
